
@using tl2_tp6_2024_GonEnGit.Models

@using EspacioModels

@model Cliente

<fieldset class="container border border-2 border-success rounded w-50">
    <legend>Actualizar Cliente</legend>
    <form asp-controller="Cliente" asp-action="ActualizarCliente" class="p-2">
        <input type="hidden" asp-for="@Model.IdCliente">
        <article class="form-group">
            <label asp-for="@Model.Nombre" class="form-label">
                Nombre:
            </label>
            <input asp-for="@Model.Nombre" class="form-control">
        </article>
        <article class="my-2 form-group">
            <label asp-for="@Model.Direccion" class="form-label">
                Direccion:
            </label>
            <input asp-for="@Model.Direccion" class="form-control">
        </article>
        <article class="my-2 form-group">
            <label asp-for="@Model.Telefono" class="form-label">
                Telefono:
            </label>
            <input asp-for="@Model.Telefono" class="form-control">
        </article>
        <article class="p-3 d-flex justify-content-center">
            <input type="submit" value="Actualizar" class="btn btn-primary">
        </article>
    </form>
</fieldset>