
@using tl2_tp6_2024_GonEnGit.Models

@using EspacioModels

@model PresupuestoDetalle

<div class="container-fluid text-center">
    <h1 class="display-6">Productos Disponibles</h1>
    <fieldset class="d-flex justify-content-center">
        <table class="table table-striped table-secondary w-75">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Descripcion</td>
                    <td>Precio</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Producto prod in Model.Productos)
                {
                    <tr>
                        <td>@prod.Id</td>
                        <td>@prod.Descripcion</td>
                        <td>$ @prod.Precio</td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
    <fieldset class="container border border-2 border-success rounded w-50">
        <legend>Añadir producto</legend>
        <form asp-controller="Presupuesto" asp-action="AgregarDetalle" class="p-2">
            <article class="form-group">
                <label asp-for="@Model.IdPresupuesto" class="form-label">Presupuesto N°: </label>
                <input asp-for="@Model.IdPresupuesto" class="form-control" readonly>
                <!-- En teoria, readonly permite recibir del model pero no alterar por usuario -->
            </article>
            <article class="my-2 form-group">
                <label asp-for="@Model.IdProducto" class="form-label">Producto N°: </label>
                <input asp-for="@Model.IdProducto" class="form-control">
            </article>
            <article class="my-2 form-group">
                <label asp-for="@Model.Cantidad" class="form-label">Cantidad: </label>
                <input asp-for="@Model.Cantidad" class="form-control">
            </article>
            <article class="p-3 d-flex justify-content-center">
                <input type="submit" value="Registrar" class="btn btn-primary">
            </article>
        </form>
    </fieldset>
</div>