
@using tl2_tp6_2024_GonEnGit.Models

@using EspacioModelos

@model PresupuestoDetalle

<div class="text-center container-fluid">
    <h1 class="display-6">Productos Disponibles</h1>
    <table class="table table-striped table-secondary">
        <thead>
            <tr>
                <td>Id</td>
                <td>Descripcion</td>
                <td>Precio</td>
                <td>Actualizar</td>
                <td>Borrar</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Producto prod in Model.Productos)
            {
                <tr>
                    <td>@prod.Id</td>
                    <td>@prod.Descripcion</td>
                    <td>$ @prod.Precio</td>
                    <td>
                    <!-- cuidado con los labels de asp, en el 'asp-route-X' -->
                    <!-- X es el nombre de la variable como la estas usando -->
                    <!-- osea, con el nombre como llega al View -->
                        <a asp-controller="Producto" asp-action="ActualizarProducto" asp-route-id="@prod.Id">
                            Act
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Producto" asp-action="BorrarProducto" asp-route-id="@prod.Id"
                        onclick="return confirm('Estas seguro de que quieres borrar este roducto?')">
                            Borrar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <form asp-controller="Presupuesto" asp-action="AgregarDetalle">
        <article>
            <label asp-for="@Model.IdPresupuesto">Presupuesto N°: </label>
            <input asp-for="@Model.IdPresupuesto" readonly>
            <!-- En teoria, readonly permite recibir del model pero no alterar por usuario -->
        </article>
        <article>
            <label asp-for="@Model.IdProducto">Producto N°: </label>
            <input asp-for="@Model.IdProducto">
        </article>
        <article>
            <label asp-for="@Model.Cantidad">Cantidad: </label>
            <input asp-for="@Model.Cantidad">
        </article>
        <article>
            <input type="submit" value="Registrar">
        </article>
    </form>
</div>