
@using tl2_tp6_2024_GonEnGit.Models

@using EspacioModelos

@model List<Presupuesto>

<div class="container-fluid text-center">
    <h1 class="display-6">Presupuestos Registrados</h1>
    <table class="table table-striped table-success">
        <thead>
            <tr>
                <td>Id</td>
                <td>Descripcion</td>
                <td>Precio</td>
                <td>Actualizar</td>
                <td>Borrar</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Presupuesto presupuesto in Model)
            {
                <tr>
                    <td>@presupuesto.IdPresupuesto</td>
                    <td>@presupuesto.NombreDestinatario</td>
                    <td>@presupuesto.FechaCreacion</td>
                    <td>
                        <a asp-controller="Presupuesto" asp-action="ActualizarPresupuesto" asp-route-id="@presupuesto.IdPresupuesto">
                            Act
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Presupuesto" asp-action="BorrarPresupuesto" asp-route-id="@presupuesto.IdPresupuesto">
                            Borrar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <article class="d-flex justify-content-around">
        <a class="btn btn-outline-info bg-dark" asp-controller="Presupuesto" asp-action="CrearPresupuesto">Agregar Presupuesto</a>
    </article>
</div>